# Common
ENVIRONMENT=development
SERVER_PORT=3001

# Security
# Required when ENVIRONMENT=production
JWT_SECRET_KEY=change-this-to-a-long-random-secret

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_REDIRECT_URL=http://localhost:3000/api/auth/discord/callback

# App behavior
ADMIN_EMAIL=

# Prisma
DATABASE_URL=postgresql://postgres:password@localhost:5432/yt-dropper

# Download settings
MAX_CONCURRENT_DOWNLOADS=2
